a{
  text-decoration:none;
  color:black;
}
h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
ol{
  border-right: 1px solid gray;
  margin: 0;
  padding: 20px;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left:20px;
}
@media(max-width: 800px){
  h1{
    border-bottom: none;
    padding: 0;
  }
  ol{
    border-right: none;
    padding:15px;
  }
  #grid{
    display:inline;
  }
  #article{
    padding-left:0;
  }
  #article h2{
    margin:0;
  }
}
